.header {
    background-color: #f8f9fa;
    width: 100%;
    padding: 10px 0;
    position: fixed;
    top: 0;
    z-index: 1000; /* Устанавливаем z-index для обеспечения видимости над другими элементами */
  }
  
  .navbar-brand .nav-link {
    color: #343a40;
    font-weight: bold;
  }
  
  .nav-link {
    color: #343a40;
    font-weight: 500;
    padding: 0.5rem 1rem;
  }
  
  .nav-link:hover {
    color: #007bff;
  }