/* NutritionTable.css */

.table-wrapper {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #007bff; /* синий цвет для заголовков столбцов */
  color: white; /* белый цвет текста для заголовков столбцов */
}

tr:hover {
  background-color: #cce5ff; /* светло-синий цвет при наведении курсора */
}

td button {
  margin: 0;
}

/* Убираем рамку для последней ячейки в строке */
td:last-child {
  border-right: none;
}
